@charset "utf-8";
*{margin:0;padding:0}
body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-family: "微软雅黑";}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
a,u{text-decoration: none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
ul,ol,li{list-style:none;}
img{display:block;border:0;}
input{outline:none;border:0;}


.head{width:100%;background:#f1f1f1;}
.head div{height:38px;width:1490px;margin:0 auto;font-size:14px;color:#666666;text-align:center;}
.head #title{height:38px;width:178px;float:left;line-height:38px}
.head div ul{display:flex;justify-content: flex-end;}
.head div ul li a{line-height:38px;border-right:1px solid #666666;padding-left: 18px;padding-right:18px;color:#666666}
.head div ul li a img{display:inline-block}
.head div ul li a .xiaoyu{display:none}
.head #shouji{padding-right: 8px;vertical-align: middle;}
.head div ul li a:hover{color:#ed415b;}
.head div ul li p{display:none;background:#FFFFFF;border:1px solid #F1F1F1}
.head div ul li p a{line-height:38px;padding:0;border:transparent;}
.head div ul li:nth-of-type(5) a:hover .dayu{display:none;}
.head div ul li:nth-of-type(5) a:hover .xiaoyu{display:inline-block}
.head div ul li:nth-of-type(7) a:hover .dayu{display:none;}
.head div ul li:nth-of-type(7) a:hover .xiaoyu{display:inline-block}
.head div ul li:hover{position:relative;}
.head div ul li:hover .second{display:block;position:absolute;width:162px;height:172px;left:-10px;text-align:left;}
.head div ul li:hover .second a{padding-left:12px}
.head div ul li:hover .erweima{display:block;position:absolute;}

.search{width:100%;}
.search div:first-child{height:150px;width:1490px;margin:0 auto;font-size:14px;display:flex;align-items: center;justify-content: space-between;}
.search div:nth-child(3){flex:2}
.search div ul{display:flex;width:392px;padding-top:12px}
.search div ul li{flex-grow:1}
.search div ul li a{color:#666666}
.search div ul li a:hover{color:#ED415B}
.search input{width:594px;height:44px;border:3px solid #ed145b;font-size:18px}
.search span{display:inline-block;height:50px;width:74px;background:#ED145B;line-height: 50px;text-align:center;font-size:20px;}
.search span a{color:white;}
.search span a:hover{background:#666666;opacity:0.5;padding:10px}
.search #logo img:first-child{width:172px;height:66px;}
.search #logo img:nth-of-type(2){width:190px;height:127px;padding:50px}
.search #logo div:last-child {width:160px;height:48px;line-height: 48px;padding:0 38 0 50px;background:#f9f9f9;display:flex;align-items: center;justify-content: center;}
.search #logo div:last-child img{width:23px;height:20px;}
.search #logo div:last-child a{color:#666666}
.search #logo div:last-child a:hover{color:#FF4D00}

.nav{width:100%;background:#ed145b;}
.nav div{height:50px;width:1490px;margin:0 auto;font-size:20px;}
.nav div ul{display:flex;justify-content: center;align-items: center;height:50px;width:1200px;justify-content: space-between;}
.nav div ul .fenlei .erjili1{display:block;background:#b70841;height:50px;width:262px;position:relative;line-height: 50px;}
.nav div ul li{text-align: center;}
.nav div ul li .erjili1{color:#FFFFFF;display:block;height:50px;width:158px;;line-height:50px}
.nav div ul li a:hover{background:#aa033a;}
/*二级导航*/

.nav .erji{width:262px;height:440px;display:flex;flex-direction: column;position:absolute;background:#352f30;padding:36px 0;z-index: 1000;}
.nav .erji li a{color:#FFFFFF;display:block;width:262px;height:62px;line-height: 62px;}
.nav .erji li a:hover{color:#fff000;background:#2C2728}
/*三级导航*/
.nav .erji li{position:relative;}
.nav .erji li .sanji{display:none}
.nav .erji li:hover .sanji{display:block;position: absolute; background: #2c2728;   left: 262px;width: 766px;height: 440px; top: -36px;opacity:0.8;padding:36px 40px;display:flex;flex-direction: column;}
.nav .erji li .sanji div{flex:1}
.nav .erji li .sanji p{border-bottom: 1px dotted #FFFFFF;font-size:18px;padding-bottom:0px;}
.nav .erji li .sanji a{display:block;height:58px;;}

.lunbo #lunbo img{height:512px;width:100%}
.lunbo{position:relative;width:1490px;height:512px;margin:0 auto}
.lunbo div:last-child{position:absolute;left:1254px;top:0px}
.lunbo div:last-child img{width:250px;height:220px;}
.lunbo div:last-child ul{background:#FBFBFB;margin-bottom:3px}
.lunbo div:last-child  li:first-child span{display:block;padding:0 24px;height:51px;line-height: 51px;border-bottom:1px solid #666666;font-size: 18px;color:#666666}
.lunbo div:last-child  li:first-child {display:flex;}
.lunbo div:last-child  li:first-child span:hover{border-bottom:2px solid #AA033A;}
.lunbo div:last-child  li:last-child{text-align: center;height:44px;line-height: 44px;font-size: 16px;color:#666666;}
.lunbo div:last-child  li:last-child a{font-size: 16px;color:#666666}
.lunbo div:last-child  li:last-child a:hover{color:#FF4D00}

.lunbo div:last-child p:last-child {background:#FBFBFB;width:250px;height:195px;text-align: center;}
.lunbo div:last-child p:last-child span:first-child{display:block;border-bottom: 2px solid #666666;width:250px;height:40px;line-height: 40px;font-size: 18px;}
.lunbo div:last-child p:last-child span:first-child a:first-child{padding-right:112px;font-size: 18px;color:#666666}
.lunbo div:last-child p:last-child span:first-child a:last-child{font-size:16px;color:#666666}
.lunbo div:last-child p:last-child span:first-child a:hover{color:#FF4D00}
.lunbo div:last-child p:last-child span:last-child a:first-child{display:inline-block;background:#ff4d00;width:40px;height:16px;font-size:14px;border-radius: 5px;line-height: 16px;font-size: 16px;color:#666666}
.lunbo div:last-child p:last-child span:last-child a:last-child{font-size: 16px;color:#666666}
.lunbo div:last-child p:last-child span:last-child a:hover{color:#FF4D00}


.meizhuang{width:100%;}
.meizhuang div:first-child{width:1490px;margin:0 auto;}
.meizhuang #meizhuang div:first-child{border-bottom:3px solid #AC4AE1;height:66px;}
.meizhuang #meizhuang span{font-size: 28px;color:#ac4ae1;border-left:8px solid #ac4ae1;padding-left:16px;line-height: 66px;}
.meizhuang #meizhuang ul{float:right;display:flex;height:66px;align-items: center;}
.meizhuang #meizhuang ul li a{display:block;padding:0 24px;border-right:1px solid #6B6B6B;height:16px;color:#6B6B6B}
.meizhuang #meizhuang ul li:last-child a:last-child{border-right:none}
.meizhuang #meizhuang ul li a:hover{color:#AA033A}

.meizhuang #meizhuang div:last-child{display:flex;background:#ED145B;}
.meizhuang #meizhuang div:last-child div:first-child{height:606px;width:370px;background:#AC4AE1}
.meizhuang #meizhuang div:last-child img:first-child{width:100%;height:100%}
.meizhuang #meizhuang div:last-child div:nth-child(2){width:530px;}
.meizhuang #meizhuang div:last-child div:nth-child(2) img{float:left;border:1px solid #666666;width:262px;height:302px}
.meizhuang #meizhuang div:last-child div:last-of-type{display:flex;flex-direction: column;}
.meizhuang #meizhuang div:last-child div:last-of-type img{width:280px;height:302px;border:1px solid #666666}
.meizhuang #meizhuang div:last-child div:nth-child(3){width:310px;height:606px;background:#AC4AE1}
.meizhuang #meizhuang div:last-child div:nth-child(3) img{width:100%;height:100%;}


